@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

.top {
  width: 100%;
  height: 10px;
  position: relative;
  height: 10px;
  background: linear-gradient(141deg, cyan 0%, rebeccapurple 40%, deeppink 90%);
}
